.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* Size of toggle background */
.switch { 
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

/* Toggle background */
.slider {
  border-radius: 30px; /* makes the slider box round*/
  position: absolute;
  cursor: pointer;
  top: 0;  /* Position of toggle background*/ 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color:cyan;
  transition: .4s;
}

/* Creates the toggle button */
.slider:before {
  border-radius: 30px; /* Makes the button that you click on round*/
  position: absolute;
  content: "";
  height: 40px; /* Changes circle size*/
  width: 40px; /* Changes circle size*/
  left: 3px; /* Changes circle starting position (Left/Right)*/
  bottom: 5px; /* Changes circle starting position (Top/Bottom)*/
  background-color:green; /* Circle Color*/
  transition: .4s;
}

/* Changes the color of the slider when toggled */
input:checked + .slider {
  background-color: blue;
}


input:checked + .slider:before {
  transform: translateX(52px); /* How far the toggle circle moves */
}

.offMode,.onMode {
  color: white; /*color of text (light/dark)*/
  position: absolute;
  /*transform: translate(-50%, -50%);*/
  top: 25%; /*Position of text*/
  left: 10%;
  font-size: 20px; /*Size of text*/
}

/* Hides offMode text initially */
.offMode {
  display:none;
}
/* Moves the onMode text to the right */
.onMode {
  display:block;
  left:50px;
}

/* Prevent highlight of toggle switch */
span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}