/* dark css for finish/statistics */

#finish-button {
  color: #cbd1d8;
  background-color: #22262c;
  font-weight: 600;
  font-size: 16px;
  border: 1.5px solid;
  padding: 7px 12px;
  border-radius: 6px;
  border-color: #31363c;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finish-button:hover {
  color: #f1f6fb;
  background-color: #31363c;
  border-color: #8d949d;
  transition-duration: 0.1s;
}

#finish-button img {
  max-width: 20%;
  padding-left: 8px;
  padding-right: 8px;
}

#finish-button > p {
  color: #cbd1d8;
  font-weight: 600;
  font-size: 16px;
}

#statistics-close-button[class="button-off"] {
  background-color: #0f1115;
  color: #cbd1d8;
  float: right;
  font-size: 30px;
  padding: 2px 14px;
  border: 1.5px solid;
  border-color: #31363c;
  border-radius: 90%;
  display: block;
  cursor: pointer;
}

#statistics-close-button[class="button-on"] {
  background-color: #22262c;
  color: #f1f6fb;
  float: right;
  font-size: 30px;
  padding: 2px 14px;
  border: 1.5px solid;
  border-color: #8d949d;
  border-radius: 90%;
  display: block;
  cursor: pointer;
  transition-duration: 0.1s;
}

#statistics-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#statistics-modal-content {
  background-color: #0f1115;
  margin: 5% auto;
  padding: 15px;
  border: 1.5px solid;
  border-radius: 6px;
  border-color: #31363c;
  height: 50%;
  width: 50%;
}

#statistics-panel {
  display: block;
  color: black;
  width: 90%;
  height: 90%;
  margin: auto;
}

#statistics-panel li {
  display: block;
  color: #cbd1d8;
}

#statistics-modal-title {
  border-bottom: 1.5px solid;
  border-color: #31363c;
  padding-bottom: 15px;
  margin: 10px 5%;
  color: #cbd1d8;
  text-align: center;
}
