.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Size of toggle background */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

/* Toggle background */
.slider {
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: cyan;
  transition: 0.4s;
}

/* Creates the toggle button */
.slider::before {
  border-radius: 30px;
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 3px;
  bottom: 5px;
  background-color: green;
  transition: 0.4s;
}

/* Changes the color of the slider when toggled */
input:checked + .slider {
  background-color: blue;
}

input:checked + .slider::before {
  transform: translateX(52px);
}

.offMode {
  display: none;
  color: white;
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 20px;
}

.onMode {
  display: block;
  color: white;
  position: absolute;
  top: 25%;
  left: 50px; 
  font-size: 20px;
}

/* Prevent highlight of toggle switch */
span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
