#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#settings {
  height: 100%;
  width: 310px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -310px;
  background-color: #13151b;
  overflow-x: hidden;
  transition: 0.5s;
}

#settings[class="open"] {
  left: 0;
}

#settings[class="close"] {
  left: -500px;
}

#closeSettings {
  border: none;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #000;
  color: #818181;
}

#closeButton {
  margin-top: 25px;
  margin-right: 16px;
  background-color: #0f1115;
  float: right;
  border: 1.5px solid;
  border-color: #31363c;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

#closeButton:hover {
  background-color: #22262c;
  border-color: #8d949d;
  transition-duration: 0.1s;
}

#closeButtonIcon {
  height: 10px;
  width: 10px;
}

/* Margins match finish button */
#openButton {
  z-index: 2;
  margin-left: 15px;
  background-color: #0f1115;
  color: #31363c;
  font-size: 65px;
  border: none;
  cursor: pointer;
}

/* Holds title of sidebar */
#settings-title {
  color: #c9d1d9;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 25px;
  padding-bottom: 10px;
}

/* Says: "Time (minutes)" / "Display" / "Audio" */
#pomo-length-label,
#audio-label,
#display-label {
  color: #8b949e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: 25px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Holds timer options / display options / audio options */
#timer-settings,
#audio-settings,
#display-section {
  color: #30363d;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1.5px solid;
  background-color: #161b22;
}

/* Holder for inputs & labels for work/breaks / sound select / calm mode */
#settings-work-section,
#settings-short-section,
#sound-section,
#calm-section {
  color: #c9d1d9;
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid;
  border-color: #21262d;
}

/* Bottom holder for inputs & labels of long break */
#settings-long-section {
  color: #c9d1d9;
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Override previous padding for calm mode / dark mode / volume selector */
#dark-section,
#calm-section,
#volume-section {
  color: #c9d1d9;
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Says "Work" / "Short Break" / "Long Break" / "Calm Mode" / etc */
#settings-work-sec-label,
#settings-short-sec-label,
#settings-long-sec-label,
#calm-label,
#dark-label,
#sound-label,
#volume-label {
  margin-right: 10px;
  justify-content: left;
  align-items: center;
}

#volume-label {
  position: relative;
  top: -4px;
}

/* Position labels towards center */
#calm-label,
#dark-label {
  position: relative;
  top: 7px;
}

/* Vertically center input fields in div */
#workNumber,
#shortBreakNumber,
#longBreakNumber {
  position: relative;
  bottom: 5px;
}

/* Input fields for work/break lengths / volume */
#workNumber,
#shortBreakNumber,
#longBreakNumber,
#volumeNumber {
  background-color: #0d1117;
  color: #8b949e;
  float: right;
  border: 1.5px solid;
  border-color: #30363d;
  border-radius: 6px;
  cursor: auto;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 5px 5px;
  width: 100px;
}

/* Drop down selector for sound */
#soundSelect {
  background-color: #0d1117;
  font-size: 10px;
  color: #8b949e;
  float: right;
  border: 1.5px solid;
  border-color: #30363d;
  border-radius: 6px;
  cursor: auto;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 4px 2px 4px 2px;
  width: 100px;
  position: relative;
  bottom: 5px;
}

/* make volume numbr input field small */
#volumeNumber {
  width: 30px;
  position: relative;
  bottom: 2px;
}

/* Float volume slider to left of input */
#volumeSlide {
  position: relative;
  left: 15px;
  bottom: -1.5px;
}

/* Align switches to float right */
#calmSwitch {
  position: relative;
  left: 90px;
}

/* Align switches to float right */
#darkSwitch {
  position: relative;
  left: 92px;
}

/* Add red border on invalid input */
#workNumber:focus.invalid,
#shortBreakNumber:focus.invalid,
#longBreakNumber:focus.invalid,
#volumeNumber:focus.invalid {
  border-color: red;
}

/* Add whitish border on selected input */
#workNumber:focus,
#shortBreakNumber:focus,
#longBreakNumber:focus,
#volumeNumber:focus {
  border-color: #8d949d;
}

/* Toggle CSS */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Size of toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 28px;
}

/* Create main toggle body + switch ON: background & border color */
.slider {
  border-radius: 50px;
  border: 1.5px solid;
  border-color: #355e36;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #18221d;
  transition: 0.4s;
}

/* Create circle + toggle switch ON: circle color */
.slider::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #79d071;
  transition: 0.4s;
}

/* Toggle switch OFF: background & border color */
input:checked + .slider {
  background-color: #0d1117;
  border-color: #21262d;
}

/* Toggle switch OFF: circle color */
input:checked + .slider::before {
  /* movement of circle in x direction */
  transform: translateX(38px);
  background-color: #70757a;
}

/* Toggle switch OFF: text */
.offMode {
  display: none;
  color: #8b949e;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
}

/* Toggle switch ON: text */
.onMode {
  display: block;
  color: #79d071;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
}

/* Prevent highlight of toggle switch or label */
span,
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* remove volume slider fault styling */
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

/* override volume slider track color */
input[type="range"]::-webkit-slider-runnable-track {
  background: #30363d;
  height: 2px;
}

input[type="range"]::-moz-range-track {
  background: #30363d;
  height: 2px;
}

/* override volume slider thumb color */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #8b949e;
  margin-top: -5px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  background: #8b949e;
  margin-top: -5px;
  border-radius: 50%;
}
