/* dark css for info */

#info-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #22262c;
  font-weight: 600;
  font-size: 16px;
  border: 1.5px solid;
  border-radius: 6px;
  border-color: #31363c;
  cursor: pointer;
  width: 90px;
  height: 36px;
  color: transparent;
}

#info-button-icon {
  height: 16px;
  vertical-align: middle;
  padding-bottom: 2px;
}

#info-button:hover {
  color: #f1f6fb;
  background-color: #31363c;
  border-color: #8d949d;
  transition-duration: 0.1s;
}

#info-close-button[class="button-off"] {
  background-color: #0e1116;
  color: #cbd1d8;
  float: right;
  font-size: 30px;
  padding: 2px 14px;
  border: 1.5px solid;
  border-color: #31363c;
  border-radius: 90%;
  display: block;
  cursor: pointer;
}

#info-close-button[class="button-on"] {
  background-color: #22262c;
  color: #f1f6fb;
  float: right;
  font-size: 30px;
  padding: 2px 14px;
  border: 1.5px solid;
  border-color: #8d949d;
  border-radius: 90%;
  display: block;
  cursor: pointer;
  transition-duration: 0.1s;
}

#info-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#info-modal-content {
  background-color: #171b21;
  margin: 5% auto;
  padding: 15px;
  border: 1.5px solid;
  border-radius: 6px;
  border-color: #31363c;
  height: 70%;
  width: 70%;
}

#info-content {
  display: block;
  color: #8b949e;
  margin: 5% 5%;
  width: 90%;
}

#info-content h1 {
  color: #afb3b8;
}

#info-content h2 {
  color: #123354;
}

#info-content h3 {
  color: #104e8b;
}

#info-content b {
  color: #fff;
}
