/* light css for finish/statistics */

@import "./pomo-finish.css";

#finish-button {
  color: #24282c;
  background-color: #e5e7ea;
  border-color: #d8dbdc;
}

#finish-button:hover {
  color: #24282c;
  background-color: #edeff3;
  border-color: #f5f2f2;
}

/* disabled styling */
#finish-button:disabled {
  background-color: #e5e7ea;
  opacity: 30%;
}

#finish-button:disabled:hover {
  border-color: #d8dbdc;
  opacity: 30%;
}
