/* light mode css for toggle switches */

/* Toggle CSS */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Size of toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 28px;
}

/* Create main toggle body + switch ON: background & border color */
.slider {
  border-radius: 50px;
  border: 1.5px solid;
  border-color: #63cc63;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #63cc63;
  transition: 0.4s;
}

/* Create circle + toggle switch ON: circle color */
.slider::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.8px;
  background-color: #51a552;
  transition: 0.4s;
}

/* Toggle switch OFF: background & border color */
input:checked + .slider {
  background-color: #e5e8ea;
  border-color: #e5e8ea;
}

/* Toggle switch OFF: circle color */
input:checked + .slider::before {
  /* movement of circle in x direction */
  transform: translateX(38px);
  background-color: #979da4;
}

/* Toggle switch OFF: text */
.off-mode {
  display: none;
  color: #23272c;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
}

/* Toggle switch ON: text */
.on-mode {
  display: block;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
}
