header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0e1116;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
