header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;   /* dark mode */
    background-color: #0E1116;      /* dark mode */
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}